header {
    height: 11vh;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4vw;
    color: rgb(255, 255, 255);
    z-index: 10000;
    font-family: face;
    user-select: none;
}
header p {
    font-size: 1em;
}

body{
    margin: 0;
    background-color: black;
}

#herovdo {
    width: 50%;
    position: absolute;
    top: calc(70px + 50%);
    transform: translateY(-60%);
    right: 2%;
    user-select: none;
}

#githubicon {
    width: 5vh;
    filter: drop-shadow(1px 0px 0px white);
}

@font-face {
    font-family: face;
    src: url(assets/safiro-medium-webfont.ttf);
}

h2 {
    font-family: face;
    color: rgb(255, 255, 255);
    font-weight: 1;
    font-size: 4vh;
}

.logo {
    display: flex;
    gap: 7px;
    text-align:center;
    align-items:center;
    user-select: none;
}

.hero {
    color: white;
}

.hero h1 {
    font-family: face;
    font-weight: 1;
    font-size: 9vw;
    position: absolute;
    left: 2vw;
    right: 50%;
}

h2{
    margin: 0;
}
.highlight {
    background-color: #0FBF3E;
}

.highlight1 {
    background-color: #8534F3;
}

.highlight2{
    background-color: white;
}

h1::selection,
h2::selection{
    background-color: rgb(255, 255, 255);
    color: black;
}

.hero {
    position: relative;
    height: 80vh;
}
#section2 {
    position: relative;
}