header {
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
    padding-left: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

body{
    margin: 0;
}

#herovdo {
    width: 100%;
    position: fixed;
    top: 50px;
}

#githubicon {
    width: 35px;
}

#githubicon:hover {
    filter: drop-shadow(3px 3px 0px white);
}

@font-face {
    font-family: face;
    src: url(assets/safiro-medium-webfont.ttf);
}

h2 {
    font-family: face;
}